# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Metro
.metro-health-check*

# Testing
coverage/
